@import "variable.styl"

body, html
  line-height: 1
  font-family: Helvetica Neue,Luxi Sans,DejaVu Sans,Tahoma,Hiragino Sans GB,Microsoft Yahei,sans-serif,Apple Color Emoji,Segoe UI Emoji,Noto Color Emoji,Segoe UI Symbol,Android Emoji,EmojiSymbols
  user-select: none
  -webkit-tap-highlight-color: transparent
  background: $color-background
  color: $color-text
